<h1>Criar um Cliente</h1>
<p>Find me in app/views/customers/new.html.erb</p>

<%= form_for @customer do |f| %>
 <%= f.text_field :name, placeholder: 'nome' %>
 <%= f.text_field :status, placeholder: 'status' %>
 <%= f.submit %>
<% end %>

