<div class="fef">
  <h1> Folgas e Feriados </h1>

  <div class="datalist">
    <span class="data1"> Datas </span>
  <hr>
    <% @dayoffs.each do |dayoff| %>
      <div class="alldatas">
        <span class="data"> <%= link_to dayoff.vacantday.strftime("%d/%m/%Y"), dayoff_path(dayoff) %> </span>
        <span class="edit"> <%= link_to 'Edit', edit_dayoff_path(dayoff), method: 'get'%> </span>
        <span class="remove"> <%= link_to 'Remove', dayoff_path(dayoff), method: 'delete', data: { confirm: 'Você tem certeza?' } %> </span>
      </div>
      <hr>
    <% end %>
  </div>
</div>