/* GENERAL CONFIG */
* {	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;}

body {
  background-image: url(fundo2.jpg);
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: .9vw;
  background-color: #282828;
  color: rgb(240, 240, 240);

  .controlegeral{
    height: auto;
    background:rgb(0,0,0);
    background: transparent\9;
    background:rgba(0,0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
    zoom: 1;

    .horarios {
      width: 85%;
      display: flex;
      font-size: 1.3em;

      .entradac {
        margin-left: 12%;
      }

      .saidac {
        margin-left: 56.2%;
      }
    }

    .controle {
      width: 85%;

      .entrada {
        margin-left: 4%;
      }

      .saida {
        margin-left: 65.5%;
      }
    }
  }

  .relogio {
    font-size: 3em;
    border-bottom: solid;
    border-width: 1px;
    border-color: gray;
    padding: 0 0 5% 0;
    margin: 5% 1% 0% 1%;
  }
}


footer {
  display: none !important;
}

.site-content {
  flex: 1;
  display: flex;
  justify-content: space-between;

  .main-content {
    width: 85%;
  }

  aside {
    width: 15%;
  }
}

/* Spacement */
.mr-0 {
  margin-right: 0;
}
.ml-0 {
  margin-left: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}
.no-padding {
  padding: 0;
}
.align-text-left {
  text-align: left !important;
}
